.col-md-4.col-md-offset-4
  .container-fluid
    =form_tag(create_physician_path, :method=>'post') do
      .form-group
        Physician name :
        =text_field_tag "name","",:class => "form-control",:autocomplete => "off"
      .form-group
        Specialization :
        =text_field_tag "specialization","",class:"form-control"
      .form-group
        Hosital name:
        =text_field_tag "hospital","",class:"form-control"
      =submit_tag "submit",class:"btn btn-primary"
