.col-md-4.col-md-offset-4
  .container-fluid
    =form_for @physician do |f|
      .form-group
        Physician name :
        =f.text_field :name,:class => "form-control",:autocomplete => "off"
        -#=text_field_tag "name","",:class => "form-control",:autocomplete => "off"
      .form-group
        Specialization :
        =f.text_field :specialization,class:"form-control"
        -#=text_field_tag "specialization","",class:"form-control"
      .form-group
        Hosital name:
        =f.text_field :hospital,class:"form-control"
        -#=text_field_tag "hospital","",class:"form-control"
      =f.submit "submit",class:"btn btn-primary"
