.col-md-4.col-md-offset-4
  .container-fluid
    =form_tag(create_patient_path, :method=>'post') do
      .form-group
        Patient name :
        =text_field_tag "patient[name]","",:class => "form-control",:autocomplete => "off"
      .form-group
        Mobile no :
        =text_field_tag "patient[mobile]","",class:"form-control"
      =submit_tag "submit",class:"btn btn-primary"
