@import "bootstrap-sprockets";
@import "bootstrap";

html,body{
  height: 100%;
  width: 100%;
}

#logo{
  float:left;
  font-size:30px;
  text-decoration: none;
  color:grey;
  font-weight:bold;
  padding:3px 0;
  &:hover{
    color:white;
  }
}
