.col-md-4.col-md-offset-4
  .container-fluid
    =form_for @appointment do |f|
      .form-group
        Physician name :
        =f.select :physician_id, @physicians.collect{ |u| [u.name,u.id] },{}, :class => "form-control"
        -#=select_tag 'physician', options_for_select(@physicians.collect{ |u| [u.name] }),:class => "form-control"
      .form-group
        Patient name :
        =f.select :patient_id, @patients.collect{ |u| [u.name,u.id] },{}, :class => "form-control"
        -#=select_tag 'patient', options_for_select(@patients.collect{ |u| [u.name] }),:class => "form-control"
      .form-group
        Appointment Date :
        =f.date_field(:appointment_date,class: "form-control")
        -#=date_field_tag(:date,nil,class:"form-control")
      .form-group
        Appointment Time:
        =f.time_field(:appointment_time,class: "form-control")
        -#=time_field_tag(:time,nil,class:"form-control")
      =submit_tag "submit",class:"btn btn-primary"

