.navbar.navbar-inverse
  .container
    =link_to "Hospital",root_path,id:"logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to "Add Physician",new_physicians_path
        %li
          =link_to "Add Patient",new_patients_path
        %li
          =link_to "New Appointment",new_appointments_path
